.saltopagina {
  display: none;
}

li.saltopagina {
  display: list-item;
}

body {
  background: #fff url(../images/bg.jpg) repeat-y top center;
  background-size: contain;
  margin: 0;
  padding: 0;
}

@media print {

  @page {
    size: A4;
    margin: 0;
  }

  .saltopagina {
    display: block;
    page-break-before: always;
    height: 1px;
    background-color: transparent;
    opacity: o;
  }

  section .saltopagina + * {
    padding-top: var(--padding);
  }

  .likeH1 span,
  .likeH2 span,
  .likeH3 span {
    display: block;
  }
  
  section:not(section:first-of-type, section:nth-of-type(2), section:last-of-type) .saltopagina + p a:has(img[alt^=Dibujo]):before,
  section:not(section:first-of-type, section:nth-of-type(2), section:last-of-type) .saltopagina + p a:has(img[alt^=Plano]):before,
  section:not(section:first-of-type, section:nth-of-type(2), section:last-of-type) .saltopagina + p a:has(img[alt^=Imagen]):before,
  section:not(section:first-of-type, section:nth-of-type(2), section:last-of-type) .saltopagina + p a:has(img[alt^=Retrato]):before {
    rotate: -85deg;
    top: 32px;
  }

}