:root {
  --color-primary: #C2B280;
  --color-secondary: #FF5733;
  --padding: 45px;
}

/* latin */
@font-face {
  font-family: 'SpecialElite';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/Special_Elite/SpecialElite-Regular.ttf') format('truetype');
}

p, li, blockquote {
  font-family: "Special Elite", system-ui;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  font-size: 1rem;
}

p {
  margin-top: 0px;
}

section {
  padding-top: var(--padding);
}

section > * {
  padding-left: var(--padding);
  padding-right: var(--padding);
  box-sizing: border-box;
}

h1, h2, h3, h4 {
  font-family: "Special Elite", system-ui;
  font-weight: 700;
  position: relative;
}

h1 {
  width: 100%;
  height: 100vh;
  color: #fff;
  background-color: #000;
  margin-top: calc((var(--padding) * -1) - 1px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}

h2 {
  font-size: 1.7em;
  display: inline-block;
  overflow: hidden;
  padding-bottom: 15px;
}

h2:after,
h2:before {
  content: "---------------------------------------------";
  display: block;
  position: absolute;
  bottom: -8px;
  left: var(--padding);
  width: calc(100% - 75px);
  overflow: hidden;
  height: 25px;
}

h2:before { 
  bottom: -14px;
}

h3 {
  font-size: 1.5em;
  display: inline-block;
  overflow: hidden;
  padding-bottom: 15px;
}

h3:after {
  content: "----------------------------------------------";
  display: block;
  position: absolute;
  bottom: -5px;
  left: var(--padding);
  width: calc(100% - 75px);
  overflow: hidden;
  height: 25px;
}