:root {
  --color-primary: #C2B280;
  --color-secondary: #FF5733;
  --padding: 45px;
}

*, html {
  scroll-behavior: smooth !important;
}

@font-face {
  font-family: 'SpecialElite';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/Special_Elite/SpecialElite-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Zeyada';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/Zeyada/Zeyada-Regular.ttf') format('truetype');
}

p, li {
  font-family: "SpecialElite", system-ui;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  font-size: 1rem;
}

a, a:visited {
  color: #000;
}

p {
  margin-top: 0px;
}

section {
  padding-top: var(--padding);
}

section > * {
  padding-left: var(--padding);
  padding-right: var(--padding);
  box-sizing: border-box;
}

h1, h2, h3, h4 {
  font-family: "SpecialElite", system-ui;
  font-weight: 700;
  position: relative;
}

blockquote {
  background-color: #fff;
  border-radius: 10px;
  padding-top: var(--padding);
  padding-bottom: var(--padding);
}

blockquote:nth-of-type(even) {
  rotate: 1deg;
}


blockquote:nth-of-type(5n) {
  rotate: -1deg;
}

blockquote > p {
  font-family: "Zeyada", cursive;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  font-size: 1.6rem;
  line-height: 120%;
  margin: 0;
  padding: 0;
  rotate: 0deg;
}

blockquote:nth-of-type(odd) > p {
  rotate: -1deg;
}

section:not(section:first-of-type, section:last-of-type) h1 {
  width: 100%;
  height: 100vh;
  color: #fff;
  background-color: #000;
  margin-top: calc((var(--padding) * -1) - 1px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}

h2 {
  font-size: 1.7em;
  display: inline-block;
  overflow: hidden;
  padding-bottom: 15px;
}

h2:after,
h2:before {
  content: "---------------------------------------------";
  display: block;
  position: absolute;
  bottom: -8px;
  left: var(--padding);
  width: calc(100% - 75px);
  overflow: hidden;
  height: 25px;
}

h2:before { 
  bottom: -14px;
}

h3 {
  font-size: 1.5em;
  display: inline-block;
  overflow: hidden;
  padding-bottom: 15px;
}

h3:after {
  content: "----------------------------------------------";
  display: block;
  position: absolute;
  bottom: -5px;
  left: var(--padding);
  width: calc(100% - 75px);
  overflow: hidden;
  height: 25px;
}

section img:not(section:first-of-type img, section:nth-of-type(2) img, section:last-of-type img) {
  max-width: 100%;
  width: 100%;
  border: 15px solid #fff;
  rotate: 1deg;
  box-shadow: -12px 17px 22px -8px #000;
}

section img:not(section:first-of-type img, section:nth-of-type(2) img, section:last-of-type img):nth-of-type(even) {
  rotate -1deg;
}

a:has(img) {
  position: relative;
  display: block;
}

section:not(section:first-of-type, section:nth-of-type(2), section:last-of-type) a:has(img)::before {
  content: "";
  display: block;
  position: absolute;
  top: 48px;
  right: -48px;
  background: transparent url(../images/clip.png) center center no-repeat;
  width: 200px;
  height: 43px;
  z-index: 10;
}

/* Portada */
section:first-of-type {
  max-height: 3507px;
  background: black url(../images/portada.jpg) center center no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

section:first-of-type > div {
  text-align: center;
}

section:first-of-type > div > h1 {
  font-size: 4em;
  color: #000;
}

section:first-of-type h2,
section:first-of-type h3 {
  font-size: 1.5em;
  line-height: 110%;
  color: #000;
  max-width: 503px;
}

/* Indice */
.likeH1,
.likeH2,
.likeH3 {
  display: block;
  cursor: pointer;
  margin: 0 0 3px 0;
  text-decoration: none;
  font-size: .8em;
  max-height: 17px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-family: "SpecialElite", system-ui;
}

.likeH1 {
  font-weight: 700;
}

.likeH2 {
  padding: 0 0 0 15px;
}

.likeH3 {
  padding: 0 0 0 30px;
}

.likeH1 span, .likeH2 span, .likeH3 span {
  display: none;
  float: right;
  margin-right: 5px;
}

#anchorindice {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: var(--padding);
  gap: 10px;
}

#anchorindice > div {
  width: calc(50% - 10px);
  margin: 0;
  padding: 0;
}

/* Contraportada */
section:last-of-type {
  max-height: 3507px;
  background: black url(../images/portada.jpg) center center no-repeat;
  background-size: cover;
  height: calc(100vh - 1px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

section:last-of-type > div {
  margin: 0px 30px;
  padding: 30px;
}

section:last-of-type > div > h1 {
  font-size: 4em;
  margin: 0 0 20px 0;
  text-align: center;
  display: block;
}

section:last-of-type > div > p:first-of-type {
  font-weight: bold;
  text-align: center;
}