:root {
  --color-primary: #C2B280;
  --color-secondary: #FF5733;
}

@font-face {
  font-family: 'JMH Typewriter';
  font-style: normal;
  font-weight: 400;
  src: url(./fonts/jmh_typewriter/JMH-Typewriter.ttf) format('truetype');
}

@font-face {
  font-family: 'JMH Typewriter';
   src: url(./fonts/jmh_typewriter/JMH-Typewriter-Bold.ttf) format('truetype');
  font-weight: 700;
}

* {
  font-family: 'JMH Typewriter', 'Times New Roman', Times, serif;
  color: #000000;
}

h1 {
  /*font-Family: 'Creature', 'Times New Roman', Times, serif;*/
}